/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

* {
  font-family: 'Quicksand', sans-serif;
  }

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    color: #ffffff;
    min-height: 100%;
  }

/* Main Page */
h1,
h2,
p,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacing {
  height: 80px
}

.boxes {
  color: #000000;
  background: #ffffff;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;
  border-radius: 10px;
}

label {
  position: relative;
  padding-left: 10px;
  margin-right: 120px;

  /* display: flex;
  /* place-content: space-around space-evenly;
  justify-content: space-between;
  justify-items: center; */

}

#mantra-label {
  margin: 0;
}

#engagement {
  width: 466px;
  height: 84px;
}

#display {
  width: 691px;
  height: 129px;
}

#affirmation,
#mantra {
   font-style: italic;
   margin: .6rem;
}

.generate {
  color: #ffffff;
  background: #134d71;
  border-radius: 5px;
  width: 161px;
  height: 24px;
}

#meditate-img {
  width: 58px;
  height: 72px;
}

/* LOGIN PAGE */

.login {
  color: #000000;
  background: #ffffff;
  margin: 2px;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 500px;
  width: 350px;
}

/* trying to display gif in background of welcome page div */
/* .welcome-page {
  backgound-image: url(https://media.giphy.com/media/XAe9aDBIv3arS/giphy.gif);
} */

#welcome,
#login-input,
#login-button {
  align-items: center;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
}

#welcome {
  text-align: center;
}

/*VIEW ALL MESSAGES*/
.hidden {
    display: none!important;
  }

/* WELCOME MESSAGE ANIMATION */
@keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

.short-welcome {
    font-size: 16pt;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #ffffff;
    animation-name: fadeInOut;
    animation-delay: .5s;
    animation-duration: 7s;
  }
}
