* {
  font-family: 'Quicksand', sans-serif;
  }

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
    background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
    color: #ffffff;
    min-height: 100%;
  }

.hidden {
  display: none!important;
}

/* LOGIN PAGE */
.welcome-page {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.login {
  color: #000000;
  background: #ffffff;
  margin: 2px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  height: 500px;
  width: 350px;
}

#welcome {
  text-align: center;
}

/* Main Page */
h1,
h3,
p,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-error {
  font-size: 10px;
}

.spacing {
  height: 80px
}

.boxes {
  color: #000000;
  background: #ffffff;
  margin: 2px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
}

label {
  position: relative;
  padding-left: 10px;
  margin-right: 120px;
}

#mantra-label {
  margin: 0;
}

#engagement {
  width: 466px;
  height: 84px;
}

#display-text {
  width: 691px;
  height: 129px;
}

#affirmation,
#mantra {
   font-style: italic;
   margin: .6rem;
}

#generate-button {
  width: 161px;
  height: 24px;
}

.buttons {
  color: #ffffff;
  background: #134d71;
  border-radius: 5px;
}

.button-display {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

#meditate-img {
  width: 58px;
  height: 72px;
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

.short-welcome {
    font-size: 16pt;
    position: absolute;
    text-align: center;
    opacity: 0;
    color: #ffffff;
    animation-name: fadeInOut;
    animation-delay: .5s;
    animation-duration: 7s;
  }

/* MESSAGES PAGE */

.all-messages {
  min-height: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  border-radius: 10px;
}

.columns {
  border: 1px solid #134d71;
  width: 100%;
  height: 100%;
  color: #000000;
  background: #78a7c6;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 10px;
}

#favs-column {
  border: 0;
}

.message-boxes {
  display: flex;
  text-align: center;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  border-radius: 30px;
}

.all-page-headers {
  max-width:50vw;
  padding-bottom:10px;
  position:relative;
}

.all-page-headers:after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: black;
  height: 5px;
  border-radius: 10px;
}

.all-paras {
  font-size: 11.5px;
  justify-content: center;
}
